/* Los estilos de tu proyecto */
*{
  box-sizing: border-box;
  color: #ffff;
}
.hero{
  outline: 1px solid red;
  background-image: url('../assets/images/taxi.jpg');
  background-size: 100% auto;
  background-position:bottom; /*muestra la parte inferior de la img en desktop*/
  height: 80vh;
  background-repeat: no-repeat;
}
.floatBox{
  margin-top: 50%;
  background: #FFA500;
}
.color-yellow{
  background: #FFA500;
}
.img-phone{
  border: 2px solid ;
  padding: 30px;
  height: 300px;
  width: 300px;
}
.container-image-phone{
  margin-right: 20px;
  padding: 10px;
  outline: 1px solid red;

}
.text{
  margin-left: 15px;
}
.hero-2{
  outline: 1px solid red;
  background-image: url('../assets/images/conduce.jpg');
  background-size: cover;
  /*background-position:bottom; /*muestra la parte inferior de la img en desktop*/
  height: 50vh;
  background-repeat: no-repeat;
  filter: contrast(.8);
}
.link-btn{
  background: #FFA500;
  color: #ffff;
}
.map{
  padding: 20px;
  border: 2px solid;
  margin-bottom: 20px;
  margin-top: 20px;
}
footer{
  background: #191919;
}
.list-footer{
 list-style: none;
}
.icon{
  margin: 3px;
}

@media (min-width: @screen-lg-min){
  .hero{
    outline: 1px solid red;
    background-image: url('../assets/images/taxi.jpg');
    background-size: 100% auto;
    background-position:bottom; /*muestra la parte inferior de la img en desktop*/
    height: 100vh;
    background-repeat: no-repeat;
  }

}
